**/.git
**/.git*
**/*.ps1
**/.vs
**/.vscode
**/.idea
**/.github
**/.editorconfig
**/.dockerignore
**/.ci
**/*.bat
**/*.example
**/*.slnf
**/*.user
**/.sass-cache
**/*.DotSettings
**/Thumbs.db
*.yml
**/Dockerfile*
**/Dockerfile
*.md
**/obj
**/bin
**/helm
**/.gitignore
**/*.log
**/node_modules
**/jspm_packages
**/vsdbg/

